/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import 'simplelightbox/dist/simple-lightbox.min.css';

html {
  box-sizing: border-box;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 24px;
  row-gap: 24px;
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  max-width: 1128px;
}
.gallery-item {
  width: 360px;
  height: 200px;
}
.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
